<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Dwo Flagging Manager Bundle Test Suite">
            <directory>src/Dwo/FlaggingManagerBundle</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Dwo/FlaggingManagerBundle</directory>
            <exclude>
                <directory>src/Dwo/FlaggingManagerBundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
